/* src/components/Alert.css */
.alert {
    margin: 8px;
    padding: 12px 24px;
    color: white;
    border-radius: 8px;
    background-color: black,
}

.alert.info {
    background-color: red;
}

.alert.error {
    background-color: orange;
}

.alert.succes {
    background-color: grey;
}
.alert.warning {
    background-color: blueviolet;
}

.alert.is-outlined {
    outline: 4px solid black;
  }
  
  .alert.is-elevated {
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 3px -2px, rgb(0 0 0 / 14%) 0px 3px 4px 0px,
      rgb(0 0 0 / 12%) 0px 1px 8px 0px;
  }


